body{
    margin: 0%;
    padding: 0%;
    background-image: url(/OMDb/image/file_000000009ae471f4b1795388d2950f08.png);
    background-size: cover;
}

.container{
    justify-self: center;
    text-align: center;
}

h1{
    color: white;
    font-size: 500%;
    margin-bottom: 0%;
}

h2{
    color: red;
    margin-bottom: 0%;
    font-size: 200%;
}

h4{
    color: grey;
    margin-top: 0%;
}


#result{
    justify-self: center;
    text-align: center;
    color: white;
    padding: 5%;
}

.link{
    text-decoration: none;
    color: white;
    border-color: red;
    border-radius: 5%;
    border: 5%;
}

.link:hover{
    color: blueviolet;
}

@media (min-width: 200px) and (max-width: 610px) {
   
}
